img {
  border-radius: 30px;
  width: 50px;
  margin: 5px;
  margin-top: 20px;
  height: 300px;
  object-fit: cover;
}
.main {
  width: 380px;
  margin-left: 35px;
}
.second {
  opacity: 0.9;
}
.third {
  opacity: 0.8;
}
.fourth {
  opacity: 0.7;
}
.last {
  opacity: 0.6;
}
